body{
    background-image: url('../imgaes/hatter_darksyurke.png');
}
.containerRightBlack{
    background-color: #0007;
}
.whiteText{
    color: #fff;
}
.containerRightTransparent{
    background-color: transparent;
}
.noBoxShadow{
    box-shadow: 0px 0px 0px 0px transparent;
}