@font-face {
    font-family: 'Alata-Regular';
    /* Name of the font */
    src: url('../fonts/Alata-Regular.ttf') format('truetype');
    /* Path to the font file */
}

.contentContainerBemutato{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.bigTextBemutato{
    font-size: 22px;
    color: #454E24;
    letter-spacing: 5%;
    font-weight: 600;
    letter-spacing: 1.5px;
    font-family: 'Alata-Regular', sans-serif;
    margin: 2px;
}
.mediumTextBemutato{
    font-size: 18px;
    color: #454E24;
    letter-spacing: 5%;
    font-weight: 500;
    font-family: 'Alata-Regular', sans-serif;
    margin: 2px;
}
.explainingContainer1{
    width: 80%;
    height: auto;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 15px;
    background-color: #90848475;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px 2px #0002;
}

.explainingContainer2{
    width: 90%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
        transition: transform 0.5s ease;
        overflow-x: hidden !important;
}
.ImageContainer{
    width: 70%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #90848475;
    box-shadow: 2px 2px 2px 2px #0002;
}
.navbarImage{
    width: 99%;
    aspect-ratio: 6.285;
    background-image: url('../imgaes/Képernyőfelvétel\ \(570\).png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
.arrowButton{
    width: 10%;
    height: 160px;
    background-image: url('../imgaes/kimutatsas-magyarazo-ful-haromszog.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}


.explanationbox{
    width: 250px;
    height: auto;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #90848475;
    box-shadow: 2px 2px 2px 2px #0002;
    text-align: center;
        transition: opacity 0.5s ease;
}
.chartImage{
    width: 99%;
    aspect-ratio: 1.9;
    background-image: url('../imgaes/zoldChart.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
.eredmenyImage{
    width: 99%;
    aspect-ratio: 5.5;
    background-image: url('../imgaes/Képernyőfelvétel\ \(572\).png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.normalAlacsonyMagasContainer{
    height: 70px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 10px;
}
.alacsony{
    height: 100%;
    width: 33%;
    background-color: #fff;
    box-shadow: 2px 2px 2px 2px #0002;
    display: flex;
    justify-content: center;
    align-items: center;
}
.normal {
    height: 100%;
    width: 33%;
    background-color: #D9D9D9;
    box-shadow: 2px 2px 2px 2px #0002;
    display: flex;
    justify-content: center;
    align-items: center;
}
.magas {
    height: 100%;
    width: 33%;
    background-color: #b3b3b3;
    box-shadow: 2px 2px 2px 2px #0002;
    display: flex;
    justify-content: center;
    align-items: center;
}
.alsoChartImage{
    width: 99%;
    aspect-ratio: 1.9;
    background-image: url('../imgaes/redChart.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.greenLineBox{
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #cfeac0;
    margin-top: 50px;
    margin-bottom: 30px;
    text-wrap: wrap;
}
.redLineBoxColoring{
    background-color: #dc827e;
}
.blueLineBoxColoring {
    background-color: #CBF9FF;
}
.greenLineBoxInner{
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.imageOfGreenMan{
    height: 160px;
    aspect-ratio: 1.08;
    background-image: url('../imgaes/healthy-figura_bland.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.imageOfRedMan{
    height: 160px;
    aspect-ratio: 0.943;
    background-image: url('../imgaes/kiegett-figura_bland.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.imageOfBlueMan{
    height: 160px;
    aspect-ratio: 0.62;
    background-image: url('../imgaes/semleges-figura-_bland.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 20px;
}
.redTextColor{
    color: #681300;
}
.blueTextColor {
    color: #2c4e7d;
}

.chartImageRedSmall{
    width: 99%;
    aspect-ratio: 6.125;
    background-image: url('../imgaes/redChartSmall.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
.chartImageSemlegesSmall{
    width: 99%;
    aspect-ratio: 6.125;
    background-image: url('../imgaes/blueChartSmall.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
.chartImageGreenSmall{
    width: 99%;
    aspect-ratio: 6.125;
    background-image: url('../imgaes/zoldChartSmall.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
.thankYouContainer{
    width: 50%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 100px;

}
.thankYouImage{
    width: 70%;
    aspect-ratio: 1.332;
    background-image: url('../imgaes/thank-you.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; 
}
@media (max-width: 1150px) {
    .explainingContainer2 {
        width: 98%;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .ImageContainer {
        width: 75%;
    }

    .arrowButton {
        display: none;
    }

}
@media (max-width: 1050px) {
        .explainingContainer2 {
            flex-direction: column;
        }
        .ImageContainer{
            width: 90%;
            margin-bottom: 10px;
        }
        .explanationbox{
            width: 400px;
            padding: 10px;
        }
}
@media (max-width: 1000px) {

    .bigTextBemutato{
        font-size: 18px;
    }
    .mediumTextBemutato{
        font-size: 14px;
    }
}
@media (max-width: 750px) {
.explainingContainer2{
    margin-left: 1%;
    margin-bottom: 5px;

}
.explainingContainer1{
    width: 95%;
}
.bigTextBemutato {
 text-align: center;
 font-size: 16px;
 text-wrap: wrap;   
}
.mediumTextBemutato {
    font-size: 12px;
    text-wrap: wrap;
}
.mediumTextBemutato{
    padding-left: 10px;
    padding-right: 10px;
}
}
@media (max-width: 500px) {
.greenLineBox{
    height: 160px;
}
.thankYouContainer{
    width: 80%;
}
        .explainingContainer2 {
            width: 98%;
            margin-left: 0px;
        }
        .ImageContainer{
            width: 100%;
        }
        .explanationbox{
            width: 100%;
        }
        .explainingContainer1{
            width: 95%;
            margin-left: 0px;
        }
.greenLineBox {

    margin-top: 10px;
    margin-bottom: 10px;

}
.normalAlacsonyMagasContainer {
    width: 99%;
}
}
@media (max-width: 400px) {
    .greenLineBox {
        height: 180px;
    }
.imageOfRedMan{
    height: 120px;
}
.imageOfGreenMan {
    height: 120px;
}
.normalAlacsonyMagasContainer {
    height: 50px;
}

}