@font-face {
    font-family: 'Alata-Regular';
    /* Name of the font */
    src: url('../fonts/Alata-Regular.ttf') format('truetype');
    /* Path to the font file */
}
.contentContainerKimutatas{
    width: 100%;
    height: auto;
    min-height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 40px;
    /* border: 1px solid #000; */
}
.kimutatasNavbarContainer{
    /* width: 90%; */
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    transition: flex-wrap 0.3s ease-in-out;
    transition: height 0.8s ease-in-out;
        overflow: hidden; /* Prevent overflow on hover */
    padding: 0 36px; /* Add padding to the left and right */
    box-sizing: border-box; /* Ensure padding is included in width calculation */
    /* border: 1px solid #000; */
}
.kimutatasNavButtonContainer{
    width: auto;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    margin: 1px;
    transition: scale 0.3s ease-in-out;
    /* border: 1px solid #000; */
}
.kimutatasButtonTextContainer{
    height: 87.8%;
    width: auto;
    background-size: auto 100%;
    background-position: top;
    background-repeat: repeat-x;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    text-wrap: wrap;
    text-align: center;
    transition: background-image 0.3s ease-in-out, margin-left 0.3s ease-in-out;
    margin-top: 1px;
    cursor: pointer;
}
.neutralMan{
    height: 90%;
    aspect-ratio: 0.62;
    background-image: url('../imgaes/semleges-figura-_bland.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.transparentMan{
    opacity: 0;
    height: 0%;
    aspect-ratio: 0;
}
.questionManKerdoiv {
    height: 90%;
    aspect-ratio: 0.943;
    background-image: url('../imgaes/kerdoiv-figura_bland.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.proudManKerdoiv {
    height: 90%;
    aspect-ratio: 1.08;
    background-image: url('../imgaes/healthy-figura_bland.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.depressedManKerdoiv{
    height: 90%;
    aspect-ratio: 0.943;
    background-image: url('../imgaes/kiegett-figura_bland.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.buttonText{
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    font-family: 'Alata-Regular', sans-serif;
    padding-top: 8px;
    padding-left: 3px;
    padding-right: 3px;
    transition: color 0.3s ease-in-out;
}
.greenButtonStroke{
    /* -webkit-text-stroke: 0.2px #293E07; 
    text-shadow: 
        -1px -1px 0 #293E07,
        1px -1px 0 #293E07,
        -1px 1px 0 #293E07,
        1px 1px 0 #293E07;  */
}
.redButtonStroke {
    /* -webkit-text-stroke: 0.2px #681300;
    text-shadow:
        -1px -1px 0 #681300,
        1px -1px 0 #681300,
        -1px 1px 0 #681300,
        1px 1px 0 #681300; */
}
.kimutatasButtonArrowContainer{
    height: 89%;
    aspect-ratio: 1.138;
    background-repeat: no-repeat;
    /* background-size: auto 100%; */
    background-size: contain;
    background-position: top;
    margin-top: 1.2px;
    margin-left: -35px;
    transition: background-image 0.3s ease-in-out, margin-left 0.3s ease-in-out;
}
/* .kimutatasNavButtonContainer:hover{
    scale: 1.02;
} */
/* ////////// */
.bevezetoArrowImage {
    background-image: url('../imgaes/core-header-gomb-kimutato-bevezeto11.png');
}
.bevezetoContainer {
    background-image: url('../imgaes/core-header-gomb-kimutato-bevezeto01.png');
}
.bevezetoArrowImage.active {
    background-image: url('../imgaes/core-header-gomb-kimutato-bevezeto12aktiv.png');
}
.bevezetoContainer.active {
    background-image: url('../imgaes/core-header-gomb-kimutato-bevezeto01aktiv.png');
}
.bevezetoContainer.active .buttonText{
    color: #0C594B;
}
.bevezetoContainer.active .greenButtonStroke {
        /* -webkit-text-stroke: 0px #293E07;
        text-shadow:
            0px 0px 0 #293E07,
            0px 0px 0 #293E07,
            0px 0px 0 #293E07,
            0px 0px 0 #293E07; */
}
/* .bevezetoArrowImage:hover {
    background-image: url('../imgaes/core-header-gomb-kimutato-bevezeto12.png');
}
.bevezetoContainer:hover {
    background-image: url('../imgaes/core-header-gomb-kimutato-bevezeto01.png');
}
.kimutatasButtonTextContainer:hover+.bevezetoArrowImage {
    background-image: url('../imgaes/core-header-gomb-kimutato-bevezeto12.png');
}
.bevezetoArrowImage:hover~.bevezetoContainer {
    background-image: url('../imgaes/core-header-gomb-kimutato-bevezeto01aktiv.png') ;
} */


/* ////////////////////////////// */
.neutralArrowImage{
    background-image: url('../imgaes/core-header-gomb-kimutatosemleges11.png');
}
.neutralContainer {
    background-image: url('../imgaes/core-header-gomb-kimutatosemleges01.png');
}
.neutralArrowImage.active {
    background-image: url('../imgaes/core-header-gomb-kimutatosemleges12aktiv.png') ;
}
.neutralContainer.active{
    background-image: url('../imgaes/core-header-gomb-kimutatosemleges01aktiv.png') ;
}
.neutralContainer.active .buttonText {
    color: #0C594B;
}
.neutralContainer.active .greenButtonStroke {
    -webkit-text-stroke: 0px #293E07;
    text-shadow:
        0px 0px 0 #293E07,
        0px 0px 0 #293E07,
        0px 0px 0 #293E07,
        0px 0px 0 #293E07;
}
/* .neutralArrowImage:hover {
    background-image: url('../imgaes/core-header-gomb-kimutatosemleges12.png') ;
}
.neutralContainer:hover {
    background-image: url('../imgaes/core-header-gomb-kimutatosemleges01.png') ;
}
.kimutatasButtonTextContainer:hover+.neutralArrowImage {
    background-image: url('../imgaes/core-header-gomb-kimutatosemleges12.png') ;
}
.neutralArrowImage:hover~.neutralContainer {
    background-image: url('../imgaes/core-header-gomb-kimutatosemleges01.png') ;
} */

/* ///////////////////////////////// */
.goodArrowImage{
    background-image: url('../imgaes/core-header-gomb-kimutatogood011.png');
}
.goodContainer {
    background-image: url('../imgaes//core-header-gomb-kimutatogood01.png');
}
.goodArrowImage.active {
    background-image: url('../imgaes/core-header-gomb-kimutatogood012.png') ;
}
.goodContainer.active {
    background-image: url('../imgaes/core-header-gomb-kimutatogood01aktiv.png') ;
}
.goodContainer.active .buttonText{
    color: #0C594B;
}
.goodContainer.active .greenButtonStroke {
        /* -webkit-text-stroke: 0px #293E07;
        text-shadow:
            0px 0px 0 #293E07,
            0px 0px 0 #293E07,
            0px 0px 0 #293E07,
            0px 0px 0 #293E07; */
}
/* .goodArrowImage:hover {
    background-image: url('../imgaes/core-header-gomb-kimutato-good12nem_aktiv.png') ;
}
.goodContainer:hover {
    background-image: url('../imgaes/core-header-gomb-kimutatogood01.png') ;
}
.kimutatasButtonTextContainer:hover+.goodArrowImage {
    background-image: url('../imgaes/core-header-gomb-kimutato-good12nem_aktiv.png') ;
}
.goodArrowImage:hover~.goodContainer {
    background-image: url('../imgaes/core-header-gomb-kimutatogood01.png') ;
} */

/* //////////////////////////////////// */

.badArrowImage {
    background-image: url('../imgaes/core-header-gomb-kimutato-.bad11.png');
}
.badContainer {
    background-image: url('../imgaes/core-header-gomb-kimutato-.bad01.png');
}
.badArrowImage.active {
    background-image: url('../imgaes/core-header-gomb-kimutato-.bad12.png') ;
}
.badContainer.active {
    background-image: url('../imgaes/core-header-gomb-kimutato-.bad01aktiv.png') ;
}
.badContainer.active .buttonText{
    color: #681300;
}
.badContainer.active .redButtonStroke {
        -webkit-text-stroke: 0px #293E07;
        text-shadow:
            0px 0px 0 #293E07,
            0px 0px 0 #293E07,
            0px 0px 0 #293E07,
            0px 0px 0 #293E07;
}
/* .badArrowImage:hover {
    background-image: url('../imgaes/core-header-gomb-kimutato-.bad12nem_aktiv.png') ;
}
.badContainer:hover {
    background-image: url('../imgaes/core-header-gomb-kimutato-.bad01.png') ;
}
.kimutatasButtonTextContainer:hover+.badArrowImage {
    background-image: url('../imgaes/core-header-gomb-kimutato-.bad12nem_aktiv.png') ;
}
.badArrowImage:hover~.badContainer {
    background-image: url('../imgaes/core-header-gomb-kimutato-.bad01.png') ;
} */
/* ////////////////////////////// */




/* ////////////////////////////// */

.InnerContentContainer{
    height: auto;
    width: auto;
    display: none;

}
.InnerContentContainer.active{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hiddenContent{
    display: none;
}

/* ////////////////////////////////////// */

.bigtextContainer{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    padding: 5px;
    background-color: #cfeac0;
    border-radius: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 2px 2px #0004;
}
.rowToColumn{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
.imageOfMan{
    width: 150px;
    aspect-ratio: 1.08;
    background-image: url('../imgaes/healthy-figura_bland.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-bottom: 25px;
    margin-top: 25px;
}
.imageOfDepressedMan {
    width: 150px;
    aspect-ratio: 0.943;
    background-image: url('../imgaes/kiegett-figura_bland.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-bottom: 25px;
    margin-top: 25px;
}
.imageOfNeutralMan{
    width: 100px;
    aspect-ratio: 0.627;
    background-image: url('../imgaes/semleges-figura-_bland.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-bottom: 25px;
    margin-top: 25px;  
    margin-right: 20px;
}
.vr{
    width: 5px;
    height: 200px;
    background-color: #0C594B;
    border-radius: 5px;
}
.summaryTextContainer{
    width: 150px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin-left: 5px;
    margin-right: 5px;
}
.summarytextInner{
    height: 70%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.summarytext{
    text-wrap: wrap;
    text-align: center;
    font-size: 22px;
    color: #0C594B;
        font-weight: 600;
        /* -webkit-text-stroke: 0.1px #fff; */
        /* text-shadow:
            -1px -1px 0 #0C594B,
            1px -1px 0 #0C594B,
            -1px 1px 0 #0C594B,
            1px 1px 0 #0C594B; */
    letter-spacing: 1px;
        /* Simulates an outside stroke */ 
    font-family: 'Alata-Regular', sans-serif;
    /* text-shadow: 2px 2px #0004; */
}

.moreText {
    text-wrap: wrap;
    text-align: center;
    font-size: 16px;
    color: #002720;
    font-weight: 500;
    font-family: 'Alata-Regular', sans-serif;
    max-width: 72%;
    margin: 5px;
}

.selectModesContainer{
    width: 70%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
.sajatEredmenyGomb{
    height: 100%;
    aspect-ratio: 3;
    border: 2px solid #000;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 2px 2px #0004;
    background-color: #90848475;
}
.sajatZold{
 background-color: #acbc73;
    border: 2px solid #0C594B;
}
.sajatPiros{
 background-color: #dc827e;
    border: 2px solid #681300;
}
.csoportEredmenyGomb{
    height: 100%;
    aspect-ratio: 3;
    border: 2px solid #000;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
    box-shadow: 2px 2px #0004;
    background-color: #90848475;
}
.csoportZold{
    background-color: #92c58b;
    border: 2px solid #0C594B;
}
.csoportPiros{
    background-color: #a13030;
    border: 2px solid #681300;
}
.OrszagosAtlagGomb{
    height: 100%;
    aspect-ratio: 3;
    border: 2px solid #000;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 2px 2px #0004;
    background-color: #90848475;
}
.orszagosZold{
    background-color: #a6bb88;
    border: 2px solid #0C594B;
}
.orszagosPiros{
    background-color: #953247;
    border: 2px solid #681300;
}
.selectorButtonText{
    text-wrap: wrap;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: 'Alata-Regular', sans-serif;
        /* -webkit-text-stroke: 0.1px #fff; */
        /* text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000; */

}
.chartSectionContainer {
    position: relative;
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0px;

    /* border: 1px solid #000; */
}
.myChart{
    background-color: #fff;
}
.informationColumn {
    width: 25%;
    aspect-ratio: 2.7;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    border-radius: 20px;
    box-shadow: 2px 2px #0004;
    /* border: 1px solid #000; */
}
.informationGreen{
    background-color: #cfeac0;
}
.informationRed{
    background-color: #b95c5d;
}
.informationBlue{
    background-color: #CBF9FF;
}
.informationColumnInner{
    height: 100%;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.rightLine{
    height: 100%;
    width: 7px;
    border-radius: 5px;
    margin-right: -5px;
    z-index: 20;
}
.greenLine {
    background-color: #0C594B;
}
.redLine {
    background-color: #681300;
}
.neutralLine{
    background-color: #2c4e7d;
}
.informationText{
    text-wrap: wrap;
    text-align: center;
    font-size: 22px;
    color: #0C594B;
        font-weight: 600;
        /* -webkit-text-stroke: 0.1px #fff; */
        /* text-shadow:
            -1px -1px 0 #0C594B,
            1px -1px 0 #0C594B,
            -1px 1px 0 #0C594B,
            1px 1px 0 #0C594B; */
    letter-spacing: 1px;
    font-family: 'Alata-Regular', sans-serif;
    margin-bottom: 5px;
    width: 90%;
}
.greenText{
    color: #0C594B;
}
.redText{
    color: #fff;
}
.BlueText{
    color: #2c4e7d
}
.hrKimutatas{
    width: 90%;
    height: 5px;
    border-radius: 5px;
    margin-bottom: 10%;
}
.greenHr{
    background-color: #0C594B;
}
.redHr{
    background-color: #681300;
}
.chartColumn {
    width: 75%;
    height: auto;
    aspect-ratio: 7.5203;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    background-color: #fff;
    /* border: 1px solid #000; */
}

.chartBgImage {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../imgaes/kimutatas-uj_hatter_slice_halvanyabb_but_not_mobilverzion.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    z-index: 11;
}

.greyBox {
    height: 95%;
    width: 60%;
    background-color: #D9D9D9;
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 0%;
}

.darkGreyBox {
    height: 100%;
    width: 60%;
    background-color: #b3b3b390;
}

.chartRow1 {
    width: 99.7%;
    height: 90%;
    margin-left: 0.3%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* border: 1px solid #000; */
    position: relative;
    z-index: 10;
}


.chartImage1,
.chartImage2,
.chartImage3,
.chartImage4,
.chartImage5,
.chartImage6 {
    height: 33%;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: right;
    border: 0px solid #000;
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
    /* Combine transitions */
}

.chartImage1 {
    width: 100%;
    background-image: url('../imgaes/kimutatas-nyilakgood1\ \(1\).png');
}

.chartImage2 {
    width: 81%;
    background-image: url('../imgaes/kimutatas-nyilakgood2\ \(1\).png');
}

.chartImage3 {
    width: 6%;
    background-image: url('../imgaes/kimutatas-nyilakgood3\ \(1\).png');
}
.chartImage4 {
    width: 80%;
    background-image: url('../imgaes/kimutatas-nyilakbad1.png');
}

.chartImage5 {
    width: 93%;
    background-image: url('../imgaes/kimutatas-nyilakbad2.png');
}

.chartImage6 {
    width: 90%;
    background-image: url('../imgaes/kimutatas-nyilakbad3.png');
}
.hidden {
    width: 0 !important;
    height: 0 !important;
}
.chartSectionContainerNumbers{
    width: 98%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}
.informationColumnBlank {
    width: 23%;
    height: 10px;
    /* border: 1px solid #000; */
}
.numberColumn {
    width: 75%;
    height: auto;
    aspect-ratio: 36;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    /* background-color: #fff; */
    /* border: 1px solid #000; */
}
.PercentageNumber{
    width: 9%;
    font-size: 1.5vw;
    color: #454E24;
    font-weight: 500;
    font-family: 'Alata-Regular', sans-serif;
    text-align: center;
    z-index: 50;
    /* border: 1px solid #000; */
}


.tooltip {
    position: absolute;
    background-color: white;
    color: black;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 12px;
    display: none;
    white-space: nowrap;
    z-index: 1000;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Alata-Regular', sans-serif;
    margin: 25px;
    /* pointer-events: none; */
        /* Ensures the tooltip doesn't interfere with mouse events */
}

.tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: white transparent transparent transparent;
}

.nextButtonContainer{
    width: 100%;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttonTextIndex{
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    font-family: 'Alata-Regular', sans-serif;
    margin: 5px;
    text-shadow: 1px 1px #0004;
    z-index: 50;
    transition: margin-left 0.3s ease-in-out;
}
.lowMidHighContainer{
    width: 65%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    /* border: 1px solid #000; */
}
.low{
    height: 100%;
    aspect-ratio: 3.98;
    background-image: url('../imgaes/kimutatas-trapezgombok.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #000; */

}
.mid{
    height: 100%;
    aspect-ratio: 3.98;
    background-image: url('../imgaes/kimutatas-trapezgombok2.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #000; */
}
.high{
    height: 100%;
    aspect-ratio: 3.98;
    background-image: url('../imgaes/kimutatas-trapezgombok3.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #000; */
}
.lowMidHighText{
    font-size: 16px;
    color: #000;
    font-weight: 500;
    font-family: 'Alata-Regular', sans-serif;

}
/* ///////////////////////////////////////////////////////////////// */
@media (max-width: 1000px) {

.informationText{
    font-size: 18px;
}
.summarytext{
    font-size: 18px;
}
}

@media (max-width: 900px) {
.lowMidHighContainer{
    height: 40px;
}
}
@media (max-width: 850px) {
.kimutatasNavButtonContainer{
    height: 50px;
}
.buttonText{
    font-size: 16px;
}
.kimutatasButtonArrowContainer{
    margin-left: -30px;
}
.selectModesContainer{
    height: 50px;
    width: 90%;
}
.selectorButtonText{
    font-size: 16px;
}

}
@media (max-width: 750px) {
.chartColumn{
    aspect-ratio: 5.1388;
}
.chartBgImage{
    background-image: url('../imgaes/kimutatas-uj_hatter_slice_halvanyabb_but_not_mobilverzion\ \(1\).png');
}
.rowToColumn{
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 10px;
}
.vr{
height: 5px;
width: 160px;
}
.imageOfMan{
    margin-bottom: 20px;
    margin-top: 0px;
}
.imageOfDepressedMan{
    margin-bottom: 20px;
    margin-top: 0px; 
}
.summaryTextContainer{
    margin-top: 15px;
}
.lowMidHighContainer {
    height: 30px;
}
.lowMidHighText {
    font-size: 12px;
}

.chartSectionContainer{
    flex-direction: column;
    margin-top: 10px;
}
.chartColumn{
    width: 100%;
}
.rightLine{
    display: none;
}
.informationColumn{
    width: 50%;
    aspect-ratio: 5;
}
.informationColumnInner{
    align-items: center;
}
.hrKimutatas{
    margin-bottom: 0px;
}
.lowMidHighContainer{
    margin-left: 0px;
}
.hrKimutatas{
    height: 2px;
}
.kimutatasNavbarContainer{
        padding: 0 12px;

}
.informationColumnBlank{
    display: none;
}
.numberColumn{
    width: 100%;
}
}

@media (max-width: 600px) {

.kimutatasNavButtonContainer{
    height: 45px;
}
.buttonText{
    font-size: 12px;
    text-wrap: nowrap;
}
.kimutatasButtonArrowContainer{
    margin-left: -25px;
}
.redButtonStroke{
    /* -webkit-text-stroke: 0.1px #681300;
    letter-spacing: 1.5px;
    text-shadow: 
        -0.7px -0.7px 0 #681300,
        0.7px -0.7px 0 #681300,
        -0.7px 0.7px 0 #681300,
        0.7px 0.7px 0 #681300;  */
}
.greenButtonStroke{
    /* -webkit-text-stroke: 0.1px #293E07;
    letter-spacing: 1.5px;
    text-shadow: 
        -0.7px -0.7px 0 #293E07,
        0.7px -0.7px 0 #293E07,
        -0.7px 0.7px 0 #293E07,
        0.7px 0.7px 0 #293E07;  */
}

.bigtextContainer{
    flex-direction: column;
}
.chartSectionContainer{
    width: 99%;
}
.informationText {
    font-size: 14px;
}
.hrKimutatas{
    height: 4px;
}
.lowMidHighContainer{
    width: 90%;
}
.summaryTextContainer{
    height: 120px;
    width: 90%;
}
.summarytextInner{
    height: 80%;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 25px;
}
.summarytext{
    max-width: 50%;
}
.moreText{
    max-width: 99%;
}
.selectModesContainer{
    height: 40px;
}
.selectorButtonText{
    font-size: 12px;
}
.chartSectionContainerNumbers{
    width: 100%;
}
.numberColumn{
    justify-content: center;
}
.hundred, .zero{
    display: none;
}
.PercentageNumber{
    margin-left: 0.35%;
    margin-right: 0.35%;
    font-size: 2.5vw;
}
.tooltip{
    font-size: 12px;
}
}
@media (max-width: 500px) {
.kimutatasNavButtonContainer{
    height: 50px;
}
.buttonText{
    font-size: 12px;
    text-wrap: nowrap;
    margin-top: 6px;
}
.kimutatasButtonArrowContainer{
    margin-left: -25px;
}
.kimutatasNavbarContainer {
    padding: 0 6px;

}
}
@media (max-width: 450px) {
    .kimutatasNavButtonContainer {
        height: 45px;
    }

    .buttonText {
        font-size: 12px;
        text-wrap: wrap;
    }

    .kimutatasButtonArrowContainer {
        margin-left: -20px;
    }

.selectModesContainer {
    justify-content: space-between;
    width: 95%;
    height: 30px;
}

.selectorButtonText {
    font-size: 10px;
}

}

@media (max-width: 400px) {
.lowMidHighContainer{
    height: 20px;
}
.lowMidHighText{
    font-size: 10px;
}
.summaryTextContainer{
    height: 160px;
    margin-bottom: 10px;
}
.summarytextInner{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.summarytext {
    max-width: 95%;
}
.tooltip {
    font-size: 10px;
}
.kimutatasNavbarContainer{
    justify-content: flex-start;
    width: 95%;
}
.kimutatasNavButtonContainer{
    height: 60px;
    width: 100%;
}
.kimutatasButtonTextContainer{
    width: 100%;
    justify-content: flex-start;
}
.buttonText {
    font-size: 15px;
    margin-top: 8px;
    text-wrap: wrap;
    width: 80%;
    text-align: center
;}
.transparentMan {
    height: 100%;
    aspect-ratio: 0.62;
}
}